@import "../../../styles/base";


.ShopSiRestaurant {
  padding-top: 170px;
  @include media-breakpoint-tablet() {
    padding-top: 120px;
  }
  .flipCardsContainer {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    @include media-breakpoint-tablet() {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .flipCardItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: darken(white, 5%);
      }
      &:focus {
        box-shadow: 0 3px 7px rgba(black, 0.1);
        background-color: darken(white, 6%);
        transition: box-shadow 0.1s $small-bouncy-out, background-color 0.1s;
      }
      &:active {
        box-shadow: 0 1px 3px rgba(black, 0.3);
        background-color: darken(white, 8%);
        transition: box-shadow 0.1s $small-bouncy-out, background-color 0.05s;
      }
      .flipCardItemImg {
        height: 180px;
        width: 300px;
        border-radius: 5px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .flipCardItemTest {
        margin-top: 10px;
        user-select: none;
        color: black;
      }
    }
  }
}